#top-pad {
    height: 10px;
    background-color: #c29a5b;
}

body  {
    font-family: FSMe;
    color: #4b3328;
}

header {
    padding-top: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #4b3328;
    cursor: pointer;
}

a:hover {
    color: #c29a5b;
}


a:hover , a:focus {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}
#top-logo {
    margin-top: 20px;
    max-height: 100px;
}

#main-nav {
    margin-top: 37px;
}


#main-nav a.active {
    color: #c2995b !important;
    font-weight: 500;
}

.nav .dropdown:hover ul {
    display: block;
}

.socials  {
    padding: 0;
    list-style: none;
    float: right;
    margin-top: 10px;
    width: 100%;
}

#socials .socials  {
    width: auto;
}

.socials li {
    float: left;
}

.socials  li a {
    display: block;
    height: 26px;
    width: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px auto;
    margin: 1px;
}

.socials  li a.fb {
    background-image: url('../images/icons/social/fb.png');
}

.socials  li a.tw {
    background-image: url('../images/icons/social/tw.png');
}

.socials  li a.in {
    background-image: url('../images/icons/social/in.png');
}
.socials  li a.lk {
    background-image: url('../images/icons/social/lk.png');
}
.socials  li a.yt {
    background-image: url('../images/icons/social/yt.png');
}


#top-search {
    position: relative;
}

#top-search input[type=text] {
    float: right;
    background-color: #b5aca6;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 10px;
    width: 140px;
    color: #f3f3f3;
    padding: 1px 10px;
    float: right;
    height: 18px;
    line-height: 12px;
}

#top-search input[type=submit] {
    background-image: url('../images/icons/Search-Icon.png');
    height: 18px;
    width: 18px;
    border: 0;
    position: absolute;
    top: 10px;
    right: 2px;
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-color: transparent;
    background-position: center;
}

.main-content {
    border-right:1px solid #ece9e8;
}

.banner-box {
    background-image: url("../images/Home-Screen-Image.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    padding: 40px 20px;
    min-height: 350px;
    height: auto;
    float: left;
    width: 100%;
}

.banner-box.news {
    background-size: 100% auto;
    padding: 30px 20px;
    min-height: 270px;
    height: auto;
}


.banner-box.news .panel {
    min-height: 150px;
}


.banner-box.news .panel h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    line-height: 28px;
}

.banner-box.news p {
    font-size: 12px;
    color: #fff;
}

.banner-box.patient {
    background-image: url("../images/Patients-&-Visitors-Image.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    min-height: 345px;
    height: auto;
}

.banner-box .panel {
    background-color: #c29a5b;
    padding: 10px;
    border-radius: 0;
    color: #fff;
    padding-bottom: 2px;
    min-height: 265px;
}

.banner-box .panel h1 {
    font-size:18px;
    color: #fff;
    margin:0;
    margin-bottom: 15px;
    margin-top: 5px;
}

.banner-box .panel p {
    line-height: 17px;
}


.help-box {
    padding: 8px;
    float: left;
    width: 100%;
}

.help-box h1 {
    margin:0;
    color: #4b3328;
    font-size: 25px;
}


#help-icon-list {
    list-style: none;
    padding:0;
    margin-bottom: 0;
}

#help-icon-list li {
}

.icon-input {
    display: inline-block;
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: auto 20px;
    padding-right: 32px;
    margin: 4px 0;
    font-size: 13px;
    color: #5f6263;
}

.icon-input.sm {
    background-size: auto 16px;
    padding-right: 26px;
    margin: 0;
}

.icon-input.search {
    background-image: url('../images/icons/search-black.png');
    border-radius: 0;
    min-width: 100px !important;
    background-color: #fff !important;
}

.icon-input.drop {
    background-image: url('../images/icons/search-black.png');
    border-radius: 0;
}

.icon-text {
    display: inline-block;
    height: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 22px;
    line-height: 22px;
    margin: 4px 0;
    font-size: 13px;
}

.icon-text.phone {
    background-image: url('../images/icons/help/phone.png');
}
.icon-text.doctor {
    background-image: url('../images/icons/help/doctor.png');
}
.icon-text.insurance {
    background-image: url('../images/icons/help/insurance.png');
}
.icon-text.search {
    background-image: url('../images/icons/help/search.png');
}
.icon-text.calendar {
    background-image: url('../images/icons/help/calendar.png');
}


.icon-text.date {
    background-image: url('../images/icons/date.png');
}
.icon-text.location {
    background-image: url('../images/icons/location.png');
}
.icon-text.time {
    background-image: url('../images/icons/time.png');
}

.share-icon-text {
    display: inline-block;
    height: 26px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    padding-left: 32px;
    line-height: 27px;
    margin: 2px 0;
    font-size: 13px;
    color: #c29a5b;
}

.share-icon-text.fb {
    background-image: url('../images/icons/social/fb.png');
}
.share-icon-text.tw {
    background-image: url('../images/icons/social/tw.png');
}
.share-icon-text.lk {
    background-image: url('../images/icons/social/lk.png');
}
.share-icon-text.em {
    background-image: url('../images/icons/social/em.png');
}

hr.brown {
    border-top: 2px solid #c29a5b;
    margin-bottom: 5px;
}

a.brown {
    color: #c29a5b;
    font-weight: bold;
    text-transform: uppercase;
}

.standard-list {
    list-style-image: url('../images/bullet-dot.png');
    padding-left: 20px;
}

.standard-list.black {
    list-style-image: url('../images/bullet-dot-black.png');
    padding-left: 20px;
}

.standard-list li a {
    line-height: 19px;
    font-size: 16px;
}

.standard-list li {
    margin-bottom: 3px;
}

.float-list li  {
    float: left;
}


.float-list.article li  {
    margin-bottom: 30px;
    border-right: 1px solid #ece9e8;
}


.float-list.services li  {
}


.float-list.innovations li  {
}


.float-list.event li  {
    min-height: 360px;
    max-height: 360px;
}

.float-list.cols-3.article li:nth-child(3n+0) {
    border-right: 0;
}

@media (max-width: 767px) {

    .float-list.article li {
        max-height: 1200px;
    }
}

.border-line-list {
    padding: 0 35px;
    background-image: url('../images/brown-line.png');
    background-repeat: repeat-x;
    background-position: center;
    float: left;
    width: 100%;
}

.border-line-list.short {
    padding: 0 110px;
}

.border-line-list.xshort {
    padding: 0 220px;
}

.border-line-list li  {
    float: left;
    border: 1px solid #c29a5b;
    text-align: center;
    border-right: 0;
    background-color: #fff;
}

.border-line-list li a {
    color: #c29a5b !important;
}

.border-line-list li:first-child  {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border-line-list li:last-child  {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #c29a5b;
}

.border-line-list li.active  {
    background-color: #c29a5b;
}

.border-line-list li.active a {
    color: #fff !important;
}

.border-line-list a  {
    font-size: 11px;
}

.user-list li {
    padding-left: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    min-height: 140px;
}

.user-list li img {
    padding-left: 10px;
    border-left: 1px solid #9d9a99;
    margin-left: 0px;
    padding-right: 5px;
}

.user-list li:nth-child(3n+1) {
    padding-left: 12px;
    margin-left: -18px;
}

.user-list li:nth-child(3n+1) img {
    border:0;
    padding-left: 18px;
}

.user-list li h1 {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 2px;
    margin-top: 0;
}

.user-list li p {
    margin: 0;
    font-size: 13px;
    line-height: 7px;
}

.user-list li p a {
    color: #4b3328 !important;
}

.share-list li a {
    color: #c2995b !important;
}

.sponsor-list li {
    width: 24.7%;
    box-sizing: border-box;
    padding-right: 5px;
    border-right: 1px solid #ece9e8;
    margin-bottom: 15px;
    max-height: 110px;
}

.sponsor-list li:nth-child(4n+0) {
    padding-right: 0;
    border-right: 0;
}

.sponsor-list li img {
    width: 100%;
    padding: 5px;
    padding-left: 0;
}

.sidebar h1 {
    font-size: 25px;
    line-height: 30px;
}

.info strong {
    color: #c2995b;
}
.sidebar .widget {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.sidebar h1.panel-title {
    padding-bottom: 0;
}

.sidebar hr {
    border-color: #9c8f8a;
    width: 100%;
    float: left;
}

.sidebar h3 {
    margin-bottom: 0 !important;
}


.sidebar ul.filters li {
    line-height: 24px;
    color: #4b3328;
}

.sidebar ul.filters li a {
    color: #4b3328;
}

.sidebar ul.filters a.active {
    color: #c2995b;
    font-weight:bold;
}

.sidebar .doctor-list li p {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 14px;
}

.sidebar .doctor-list li {
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #d9d4d1;
    padding-bottom: 10px;
}

.sidebar .doctor-list li h1 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 3px;
}
.sidebar .doctor-list li h1,.doctor-list li p  {
    color: #4b3328;
    margin: 0;
}

.sidebar .doctor-list li a, .doctor-list li a:hover {
    cursor: pointer;
    line-height: 15px;
}

.sidebar {
    color: #4b3328;
}

.sidebar .panel-default .panel-body h3 {
    color: #c29a5b;
    border: 0;
    background: transparent;
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 3px;
}

.article-list .row {
    padding-top: 5px;
}

.article-list li {
    float: left;
    border-bottom: 1px solid #ece9e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.article-list h1 {
    font-size: 16px;
    color: #c2995b;
    font-weight:bold;
    margin: 0;
    line-height: 20px;
}

.article-list p {
    margin: 3px 0 0;
}


.tweet-list, .tweet-list li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.tweet-list .row {
    padding-top: 0;
}

.tweet-list li {
    float: left;
    border-bottom: 1px solid #ece9e8;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.tweet-list h1 {
    font-size: 16px;
    color: #c2995b;
    font-weight: bold;
    margin: 0;
    line-height: 18px;
    padding-top: 0px;
    margin-bottom: -4px;
}

.tweet-list p {
    margin: 3px 0 0;
    font-size: 11px;
    line-height: 12px;
    overflow:hidden;
}

.tweet-list span {
    font-size: 10px;
    color: #aba09a;
    line-height: 10px;
}

.popular-list .rank {
    font-size: 29px;
    color: #c2995b;
    font-weight: bold;
}

.popular-list h1 {
    font-size: 12px;
    line-height: 15px;
}

.popular-list li {
    padding-top: 4px;
    border-bottom: 1px solid #ece9e8;
}

.post-list .rank {
    font-size: 29px;
    color: #c2995b;
    font-weight: bold;
}

.post-list h1 {
    font-size: 18px;
    line-height: 21px;
    color: #c2995b;
    margin: 0;
}

.post-list li {
    border-bottom: 1px solid #ece9e8;
    padding-top: 12px;
    padding-bottom: 12px;
}

#site-footer {
    background-color: #4a3329;
    min-height: 50px;
    padding: 30px;
    color: #fff;
    font-size: 9px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

/****** PAGE STYLES ******/

.page h1,.page h2,.page h3,.page h4,.page h5,.page h6 {
    color: #c2995b;
    margin: 0 0 6px 0;
}

.page h1 {
    font-size: 18px;
    line-height: 21px;
}

.page h2 {
    font-size: 16px;
    line-height: 19px;
}

.page h3 {
    font-size: 14px;
    line-height: 18px;
}

.page h4 {
    font-size: 12px;
    line-height: 16px;
}

.page h5 {
    font-size: 10px;
    line-height: 14px;
}

.page h6 {
    font-size: 8px;
    line-height: 12px;
}

.page a {
    color: #c2995b;
}

.page input[type=text], .page select, .page textarea {
    background-color: #e4e1df;
    border: 0;
    padding: 8px 12px;
    font-size: 13px;
    min-width: 200px;
}

.page textarea {
    resize: none;
    min-width: 300px;
}

.page p.label {
    margin-top: 10px;
    margin-bottom: 0;
    color: #000;
    font-weight: normal;
    font-size: 13px;
    padding: 0;
}

.page p.label {
    float: right;
}

.page button {
    width: auto !important;
    padding-right: 30px;
    float: left;
    border: 0;
    border-radius: 0;
    background-color: #e4e1df;
}

.page .bootstrap-select  {
    width: auto !important;
    margin-right: 7px;
}


.page .bootstrap-select.btn-group .dropdown-toggle .caret {
    background-size: 16px;
    height: 15px;
    width: 20px;
    margin-top: -5px;
    right: 5px;
}

.page .btn-group.open .dropdown-toggle,.page .btn-group .dropdown-toggle {
    background-color: #e4e1df;
}

.page .bootstrap-select > .dropdown-toggle {
    padding-right: 33px;
}

.page input[type=submit] {
    background-color: #c29a5b;
    color: #fff;
    padding: 5px 12px;
    border:0;
    font-size: 19px;
}

/** ABOUT US ***/


.video .videoWrapper {
    position: relative;
    overflow: hidden;
    height: auto;
}

.video .videoWrapper.work-with-us {
    background-image: url('../images/Working at Healthpoint Latest_mp4.png');
    background-size: auto 100%;
    background-position: center;
}

.video .videoWrapper .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    height: 100%;
    z-index:1;
    top:0;
    left:0;
}

.video .videoWrapper .bt {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background-image: url('../images/icons/video-play.png');
    background-position: center;
    background-size: 50px auto;
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: -50px;
    margin-left: -50px;
}

.video .videoWrapper .cover.playing {
    background-image: none;
    background-color: transparent;
}

.banner-box.about {
    background-image: url("../images/About-Us-Image.png");
    height: 244px;
    padding: 0;
}

.banner-box.video {
    background-image: none;
    min-height: 400px;
    height: 400px !important;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.banner-box.video .videoWrapper {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.banner-box.video .videoWrapper .cover {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    height: 400px;
    top: 0;
    left: 0;
    background-image: url('../images/icons/video-play.png');
    background-position: 35% center;
    background-size: 100px auto;
    background-repeat: no-repeat;
}

.banner-box.video .videoWrapper .cover.playing {
    background-image: none;
    background-color: transparent;
}

.banner-box.video .panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
}

.banner-box.video video {
}

.banner-box.about .panel h1 {
    font-size:24px;
    color: #fff;
    font-weight: normal;
    margin:0;
    margin-bottom: 10px;
    margin-top: 0;
}

.banner-box.about .panel p {
    line-height: 17px;
}

.banner-box.about .panel {
    background-color: #c29a5b;
    padding: 15px;
    border-radius: 0;
    color: #fff;
    min-height: 55px;
}

.tabs ul {
    padding:0;
}

.tabs ul li {
    background-color: rgba(0,0,0,0.6);
    border-right:1px solid #d9d4d1;
    cursor: pointer;
}

.tabs ul li:last-child {
    border-right:0;
}

.tabs ul li.active {
    background-color: #b2935f;
}

.tab-contents {
    display: none;
    float: left;
}

.tab-contents.active {
    display: block;
}

.tabs ul li .row {
    text-align: center;
}

.tabs ul li a {
    color: #fff !important;
    font-size: 18px;
    line-height: 40px;
}


h1.panel-title {
    font-size: 26px;
    border-bottom: 2px solid #c29a5b;
    color: #4b3328;
    line-height: 30px;
    padding-bottom: 5px;
    margin-bottom: 6px;
    width: 100%;
    float: left;
}

.yellowish-bg h1.panel-title {
    padding-bottom: 5px;
}

.box-list li {
    margin-bottom: 12px;
}

.box-list li:nth-child(even){
    padding-right: 0;
}

.box-list li:nth-child(odd){
    padding-left: 0;
}

.box-list li img {
    margin-bottom:  10px;
}

.box-list li h1 {
    margin-bottom: 3px;
}

/********* DOCTORS PAGE *********/

.pagination-wrap {
    width: 100%;
    text-align: center;
    margin: 0;
}

.pagination-wrap a {
    display: inline-block;
    margin: 0 10px;
    color: #4b3328;
}

.pagination-wrap a.active {
    color: #c2995b;
}

.doctor-list li {
    margin-bottom: 20px;
    position: relative;
}

.doctor-list li .position, .doctor-list li .description {
    display: none;
}

.doctor-list li.collapsed .position, .doctor-list li.collapsed .description {
    display: block;
}

.doctor-list li p {
    font-size: 12px;
    line-height: 16px;
}

.doctor-list li .collapse {
    background-image: url('../images/icons/arrow-brown-right.png');
    height: 22px;
    width: 16px;
    position: absolute;
    top: 0;
    right: 8px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}


.doctor-list li.collapsed  .collapse {
    background-image: url('../images/icons/arrow-brown-down.png');
    height: 16px;
    width: 22px;
    background-size: 21px auto;
    right: 3px;
}


.doctor-list li h1 a {
    color: #4b3328 !important;
    font-size: 18px;
    line-height: 19px;
}

@media screen and (max-width: 767px) {
    .doctor-list .row {
        padding: 12px;
    }
}


/******** DOCTOR PROFILE **********/

.profile h1 {
    font-size: 18px;
    color: #4b3328;
}

.profile p {
    margin: 0;
    line-height: 18px;
}

.profile .icon-text {
    margin: 0;
    color: #c2995b;
}


/********* BLOG ************/

.featured-post h1 {
    color: #4b3328;
    font-size: 25px;
    margin-bottom: 15px;
}
.featured-post .date {
    color: #40494b;
    font-size: 13px;
}

.blog ol li , .blog ul li {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
}
/*********** WORK WITH US *********/

.featured-user {
    background-color: #e3d6bd;
    padding-bottom: 10px;
}

.featured-user h1 {
    font-size: 14px;
    margin: 5px 7px 0 7px;
    color: #4b3328;
}

.featured-user p {
    font-size: 11px;
    line-height:13px;
    margin: 2px 7px;
    color: #4b3328;
}

/**** Media *****/

.float-list.event .icon-text {
    font-size: 11px;
    color: #4b3328;
    margin: 2px 0;
}
.float-list.event p {
    margin-top: 8px;
}

.float-list.gallery li .wrap {
    background-color: #e3d6bd;
    color: #000;
    min-height: 240px;
}

.float-list.gallery li{
    margin-bottom: 16px;
}

.float-list.gallery li .wrap h1 {
    color: #000;
    font-weight: normal;
    padding: 0 10px;
}
.float-list.gallery li .wrap .date {
    padding: 0 10px 10px;
    display: block;
    font-size: 11px;
}

.float-list.album li{
    margin-bottom: 16px;
    min-height:143px;
}

.float-list.album li.video {
    margin-bottom: 16px;
    min-height: 190px;
    max-height: 190px;
}
.float-list.album li.video video {
    max-height: 140px;
}

.float-list.album li .cover {
    height: 130px;
}

.float-list.videos li .videoWrapper .cover{
    height:140px;
}

.float-list.videos li .videoWrapper video {
    height:140px;
}

.float-list.videos li {
    margin-bottom: 16px;
}

.float-list.videos li .wrap {
    background-color: #e3d6bd;
}

.float-list.videos li .wrap h1 {
    color: #000;
    padding: 10px;
}

.main-content hr {
    float: left;
    width: 100%;
}

/**** APPOINTMENT PAGE *****/

.appointment hr {
    margin: 30px 0;
    float: left;
    width:100%;
}

