/*** GENE ELLORIN ( elloringene@gmail.com ) ***/

body {
    direction: rtl;
}

input, select, textarea, button,input:focus, select:focus, textarea:focus, button:focus, a:focus {
    outline: 0 !important;
    outline: none !important;
    text-decoration: none;
}

input, select, textarea,.filter-option {
    font-size: 13px;
    color: #5f6263;
}

select {

}

input.no-bg {
    background: none !important;
    border: 0 !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

input.white {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #5f6263 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #5f6263 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #5f6263 !important;
}

:-ms-input-placeholder {
    color: #5f6263 !important;
}

.padding-t-0 {
    padding-top: 0;
}

.padding-b-0 {
    padding-bottom: 0;
}

.padding-l-0 {
    padding-left: 0;
}

.margin-b-0 {
    margin-bottom: 0 !important;
}

.margin-t-20 {
    margin-top: 20px !important;
}

.relative {
    position: relative;
}

.t-black {
    color: #231F20 !important;
}

.t-pink {
    color: #bf1c73 !important;
}


.dnone {
    display: none;
}

.all-caps {
    text-transform: uppercase !important;
}

.row {
    padding-top: 10px;
}

ul .row {
    padding-top: 0;
}

ol {
    padding-left: 15px;
}

ol li {
    color: #c2995b;
    padding-left: 8px;
}

ol li p {
    color: #4a3329;
}

.width-full {
    width: 100%;
}

.standard-bold {
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0;
}

.normal-bold {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
}

.gray-border-right {
    border-left: 1px solid #ece9e8;
}
.gray-border-left {
    border-right: 1px solid #ece9e8;
}

.yellowish-bg {
    background-color: #f2f2f2;
    padding: 5px 20px;
    float: right;
    width: 100%;
}

.yellow-bg {
    background-color: #e3d6bd;
    padding: 15px 15px;
}

.yellow-bg h1 {
    font-size: 17px;
    color: #4b3328 !important;
}

.yellow-bg p {
    line-height: 15px;
}

.brownish-bg {
    background-color: #e4e1df;
}

.gray-header {
    background-color: #e4e1df;
    padding: 5px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.brown-header {
    background-color: #c2995b;
    padding: 5px;
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 21px !important;
    color: #fff;
    font-weight: normal;
}

.gray-bg {
    background-color: #d9d4d1;
}

.gray-header img {
    margin-top: -3px;
}

h1,h2,h3,h4,h5,h6 {
    color: #4b3328;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-capitalize { text-transform: capitalize; }
.text-middle { vertical-align: middle; }

.no-padding { padding: 0 !important; }
.no-top-pad { padding-top: 0 !important; }
.no-right-pad { padding-right: 0 !important; }
.no-bottom-pad { padding-bottom: 0 !important; }
.no-left-pad { padding-left: 0 !important; }
.no-border { border: 0 !important; }


.padding-0 {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding-tb-0 { padding-top: 0; padding-bottom: 0;  }
.padding-tb-5 { padding-top: 5px; padding-bottom: 5px;  }
.padding-tb-7 { padding-top: 7px; padding-bottom: 7px;  }
.padding-tb-8 { padding-top: 8px; padding-bottom: 8px;  }
.padding-tb-10 { padding-top: 10px; padding-bottom: 10px;  }
.padding-tb-14 { padding-top: 14px; padding-bottom: 14px;  }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px;  }
.padding-tb-30 { padding-top: 30px; padding-bottom: 30px;  }

.padding-lr-5 { padding-left: 5px; padding-right: 5px;  }
.padding-lr-7 { padding-left: 7px; padding-right: 7px;  }
.padding-lr-10 { padding-left: 10px; padding-right: 10px;  }
.padding-lr-20 { padding-left: 20px; padding-right: 20px;  }
.padding-lr-30 { padding-left: 30px; padding-right: 30px;  }

.padding-t-20 { padding-top: 20px;}
.padding-b-20 { padding-bottom: 20px;}
.padding-r-20 { padding-right: 20px;}
.padding-l-20 { padding-left: 20px;}
.padding-l-25 { padding-left: 25px;}
.padding-l-35 { padding-left: 35px;}
.padding-l-55 { padding-left: 52px;}
.padding-t-10 { padding-top: 10px;}
.padding-t-12 { padding-top: 12px;}
.padding-r-6 { padding-right: 6px;}
.padding-t-20 { padding-top: 20px;}
.padding-t-30 { padding-top: 30px;}
.padding-t-40 { padding-top: 40px;}
.padding-b-10 { padding-bottom: 10px;}
.padding-r-10 { padding-right: 10px;}
.padding-r-7 { padding-right: 7px;}
.padding-l-10 { padding-left: 10px;}
.padding-t-4 { padding-top: 4px;}
.padding-t-5 { padding-top: 5px;}
.padding-b-3 { padding-bottom: 3px;}
.padding-b-4 { padding-bottom: 4px;}
.padding-b-5 { padding-bottom: 5px !important;}
.padding-b-7 { padding-bottom: 7px;}
.padding-b-8 { padding-bottom: 8px;}
.padding-r-5 { padding-right: 5px;}
.padding-l-5 { padding-left: 5px;}
.padding-l-7 { padding-left: 7px;}
.padding-t-0 { padding-top: 0;}
.padding-b-0 { padding-bottom: 0 !important;}
.padding-r-0 { padding-right: 0 !important;}
.padding-l-0 { padding-left: 0 !important;}

.padding-5 { padding: 5px; }
.padding-7 { padding: 7px; }
.padding-10 { padding: 10px !important; }
.padding-12 { padding: 12px !important; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }


.margin-tb-0 { margin-top: 0 !important; margin-bottom: 0 !important;  }
.margin-tb-4 { margin-top: 4px; margin-bottom: 4px;  }
.margin-tb-5 { margin-top: 5px; margin-bottom: 5px;  }
.margin-tb-10 { margin-top: 10px; margin-bottom: 10px;  }
.margin-tb-20 { margin-top: 20px; margin-bottom: 20px;  }
.margin-rl-5 { margin-right: 5px; margin-left: 5px; }
.margin-rl-10 { margin-right: 10px; margin-right: 10px; }
.margin-rl-20 { margin-right: 20px; margin-right: 20px; }
.margin-t-3 { margin-top: 3px;}
.margin-t-4 { margin-top: 4px;}
.margin-t-8 { margin-top: 8px !important;}
.margin-t-15 { margin-top: 15px;}
.margin-t-20 { margin-top: 20px;}
.margin-t-30 { margin-top: 30px;}
.margin-t-40 { margin-top: 40px;}
.margin-t-45 { margin-top: 45px;}
.margin-t-80 { margin-top: 80px;}
.margin-b-3 { margin-bottom: 3px;}
.margin-b-4 { margin-bottom: 4px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-b-15 { margin-bottom: 15px !important;}
.margin-b-20 { margin-bottom: 20px !important;}
.margin-b-30 { margin-bottom: 30px}
.margin-r-20 { margin-right: 20px;}
.margin-l-20 { margin-left: 20px;}
.margin-t-10 { margin-top: 10px;}
.margin-t-7 { margin-top: 7px;}
.margin-b-10 { margin-bottom: 10px;}
.margin-b-7 { margin-bottom: 7px !important;}
.margin-r-10 { margin-right: 10px;}
.margin-l-10 { margin-left: 10px;}
.margin-t-5 { margin-top: 5px !important; }
.margin-b-5 { margin-bottom: 5px;}
.margin-r-5 { margin-right: 5px;}
.margin-l-5 { margin-left: 5px;}
.margin-t-0 { margin-top: 0 !important;}
.margin-b-0 { margin-bottom: 0 !important;}
.margin-r-0 { margin-right: 0;}
.margin-l-0 { margin-left: 0;}

.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

.align-top { vertical-align: top; }

.font-8 { font-size: 8px !important; }
.font-9 { font-size: 9px !important; }
.font-10 { font-size: 10px !important; }
.font-11 { font-size: 11px !important; }
.font-12 { font-size: 12px !important; }
.font-13 { font-size: 13px !important; }
.font-14 { font-size: 14px !important; }
.font-15 { font-size: 15px !important; }
.font-18 { font-size: 18px !important; }
.font-20 { font-size: 21px !important; }
.font-21 { font-size: 21px !important; }
.font-22 { font-size: 22px !important; }
.font-24 { font-size: 24px !important; }
.font-28 { font-size: 28px !important; }
.font-30 { font-size: 30px !important; }



.panel-default > .panel-heading {
    color: #333;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: 0;
    font-family: FSMe;
    font-size: 12px;
    line-height: 12px;
    color: #4b3328;
    padding: 5px 0;
}

.panel-default > .panel-heading a {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    background-image: url('../images/icons/arrow-brown-down.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: left center;
    padding-left: 25px;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #c29a5b;
    padding-top: 5px;
    padding-bottom: 5px;
}


.panel-group .panel-heading + .panel-collapse > .panel-body p {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

.panel-default > .panel-heading a.collapsed {
    background-image: url('../images/icons/arrow-brown-right.png');
}

.panel-default {
    border: 0;
    margin-bottom: 5px !important;
    border-bottom: 0;
    border-bottom-color: transparent;
    border-image: none;
}

.brown-text {
    color: #c29a5b;
    border: 0;
    background: transparent;
    padding: 0;
}

/*** CUSTOM CHECKBOX ***/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    display: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: normal;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 0;
    background: #e5e5e5;
    border-radius: 0;
    box-shadow: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 18px;
    line-height: 0.8;
    background-color: #c29a5b;
    height: 13px;
    width: 13px;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
}

/* hover style just for information */
label:hover:focus {
    outline:none !important;
    border:0;
}



/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    display: none;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-right: 25px;
    cursor: pointer;
    font-weight: normal;
    font-size: 13px;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 0;
    background: #e5e5e5;
    border-radius: 20px;
    box-shadow: none;
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 18px;
    line-height: 0.8;
    background-color: #c29a5b;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
}

#doctor-filter [type="radio"]:not(:checked) + label:before, #doctor-filter [type="radio"]:checked + label:before {
    background-color: #fff;
}
