/***** HOME *******/

@media screen and (max-width: 1201px) {
    .navbar .container-fluid, .navbar .navbar-collapse {
        padding: 0;
    }

    .border-line-list.col-4 {
        padding: 0;
    }

    .border-line-list.col-4 li {
        padding: 10px;
        border-radius: 0;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid #c29a5b;
    }

}

@media screen and (max-width: 991px) {

    .navbar {
        margin-top: 17px !important;
    }

    .navbar .container-fluid, .navbar .navbar-collapse {
        padding: 0;
    }

    #top-logo {
        width: auto;
    }

    .logo-wrap .row {
        text-align: center;
    }

    .logo-wrap .row a {
        position: relative;
        z-index: 1;
    }

    .navbar-nav {
        float: none !important;
        margin: 0 auto !important;
        display: inline-block !important;
    }

    .navbar-collapse {
        text-align: center;
    }
    
    #socials {
        float: left;
    }

    #top-search {
        position: relative;
        float: right;
        margin-top: 6px;
    }

    .main-content {
        border: 0;
    }

    .clinical-services {
        border: 0;
    }

    .featured-post h1 {
        margin-top: 12px;
    }

    .float-list.event li {
        min-height: 460px;
        max-height: 460px;
    }

    .float-list.gallery li .wrap {
        min-height: 280px;
        max-height: 280px;
    }


    .patient-portal {
        left: 0 !important;

    }
}

@media screen and (max-width: 767px) {
    .article-list .row {
        margin-right: 0;
        margin-left: -12px;
    }

    .border-line-list.short {
        padding: 0;
    }

    .sidebar .doctor-list li {
        padding-left: 0;
    }

    .doctor-list li, .doctor-list li {
        padding-left: 0;
    }

    .sponsor-list li {
        width: 33.3%;
    }

    .sponsor-list li img {
        max-height: 130px;
    }

    .float-list.article li {
        min-height: 360px;
        /*max-height: 360px;*/
    }

    .banner-box.video {
        min-height: 1px;
        height: auto;
        width: 100%;
    }

    .banner-box.video .videoWrapper .cover {
        height: 399px;
        background-position: 25% center;
    }

    .banner-box.video .videoWrapper {
        height: auto;
    }
    .banner-box.video {
        height:auto !important;
    }

    .col-xs-top-10 {
        padding-top: 10px;
    }
    .col-xs-top-20 {
        padding-top: 20px;
    }
    .col-xs-top-0 {
        padding-top: 0 !important;
    }
    .col-xs-left-0 {
        padding-right: 0 !important;
    }
    .col-xs-right-0 {
        padding-left: 0 !important;
    }

    .col-xs-left-n12 {
        margin-left: -12px !important;
    }
    .col-xs-right-n12 {
        margin-right: -12px !important;
    }
    .col-xs-center {
        text-align: center;
    }

    .box-list li {
        padding: 0 !important;
    }

    .float-list.gallery li .wrap {
        max-height:600px;
    }
}

@media screen and (max-width: 767px) and (min-width: 621px) {
    .navbar-collapse {
        display: block;
    }

    .navbar-collapse .nav > li {
        float: left;
    }
}

@media screen and (max-width: 621px) {


    .patient-portal {
        left: 0;
        top: 0;
        font-size: 12px;
    }

    .home .banner-box {
        padding: 0;
        min-height: 100px;
        height: auto;
        background: none;
        float: left;
    }
    .navbar-nav {
        float: left;
        width: 100%;
    }

    .navbar-collapse .nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }

    .dropdown-menu > li > a{
        font-size: 15px;
    }

    .navbar-nav > li > .dropdown-menu {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .home .banner-box .col-md-4 {
        padding: 0;
    }

    .logo-wrap .row {
        text-align: left;
    }

    .nav-row{
        margin-top: -65px;
    }

    #top-logo {
        margin-top: 20px;
        max-height: 60px;
        float: right;
    }

    .appointment .col-md-3.col-sm-3.col-xs-12 p {
        text-align: left;
        float: left;
    }

    .sponsor-list li {
        width: 50%;
        max-height: 170px;
    }

    .sponsor-list li img {
        max-height: 250px;
    }

    .border-line-list.short li {
        padding: 10px;
        border-radius: 0;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 1px solid #c29a5b;
        width: 100%;
    }


    .float-list.article li {
        min-height: 360px;
        max-height: 800px;
    }
    
    .share-list li {
        float: left;
        margin-right: 10px;
    }

    .banner-box {
        background-size: auto 100% !important;
    }
    .banner-box.news {
        background-size: 100% auto !important;
    }

    .banner-box.video .panel {
        position: absolute;
        left: 0;
        width: 100%;
        top: -6px;
        height: 300px;
        z-index: 1;
    }

    .banner-box.video .videoWrapper .cover {
        background-color: #fff;
    }
}


@media screen and (max-width: 520px) {
    .post-list li {
        width: 100%;
    }
}